.card-wrapper {
  position: absolute;
  height: 270px;
  width: 430px;
  background-color: rgb(122, 145, 158);
  top: -135px;
  z-index: 1;
  border-radius: 15px;
  padding: 25px 25px;
  box-shadow: 0 0 5px 5px rgba($color: #000000, $alpha: 0.05);
  color: white;
  background-image: url("../res//bg.jpg");
  background-size: cover;

  &.card-front {
    transform: rotateY(0deg);
    transition: all 0.8s cubic-bezier(0.71, 0.03, 0.56, 0.85);
    transform-style: preserve-3d;
    backface-visibility: hidden;

    &.flipped {
      transform: rotateY(180deg);
    }
  }
  &.card-back {
    transform: rotateY(180deg);

    backface-visibility: hidden;
    transition: all 0.8s cubic-bezier(0.71, 0.03, 0.56, 0.85);
    transform-style: preserve-3d;
    padding: 25px 0;

    &.flipped {
      transform: rotateY(360deg);
    }
  }
}

.card-row {
  height: 33.333%;
  width: 100%;
  display: flex;

  &.card-row-1 {
    justify-content: space-between;

    .card-hologram {
      height: 50px;
    }

    .card-logo {
      position: relative;
      width: 150px;
      max-height: 40px;

      img {
        position: absolute;
        top: 0;
        right: 0;
        animation: fade-right 0.25s;
      }
    }

    .card-stripe {
      margin-top: 10px;
      height: 80%;
      width: 100%;
      background-color: black;
    }
  }

  &.card-row-2 {
    display: flex;
    justify-content: center;
    align-items: center;

    .card-number {
      display: flex;
      height: auto;

      .card-number-char {
        width: 20px;
        font-size: 24px;
        font-weight: 500;
        animation: fade-down 0.25s;
      }
    }

    .card-back-middle {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      span {
        margin-right: 25px;
        width: 50px;
      }

      .card-cvv-title {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-end;
        padding-right: 35px;
        font-size: 0.9em;
      }

      .card-white-stripe {
        height: 60%;
        width: 90%;
        border-radius: 5px;
        margin: 0 auto;
        background-color: white;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .card-cvv {
          color: black;
          height: 1em;
          line-height: 1em;
          margin-right: 12px;
        }
      }
    }
  }

  &.card-row-3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .card-name {
      display: flex;
      flex-direction: column;
      height: auto;

      .card-name-title {
        height: 1.2em;
        font-size: 0.8em;
        font-weight: 600;
        opacity: 0.6;
      }

      .card-name-name {
        height: 1.4em;
        font-size: 1.1em;
        font-weight: 600;
      }
    }

    .card-expires {
      display: flex;
      flex-direction: column;
      height: auto;

      .card-expires-title {
        height: 1.2em;
        font-size: 0.8em;
        font-weight: 600;
        opacity: 0.6;
      }

      .card-expires-date {
        height: 1.4em;
        font-size: 1.1em;
        font-weight: 600;
        display: flex;
      }
    }
  }
}

@keyframes fade-down {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

//Logo
.logo-enter {
  opacity: 0;
  transform: translateY(-25px);
}
.logo-enter-active {
  opacity: 1;
  transition: all 350ms ease-in;
  transform: translateY(0px);
}

.logo-exit-active {
  opacity: 0;
  transition: all 350ms ease-in;
  transform: translateY(25px);
}
.logo-exit {
}
